:root,.mdc-button{
  --mdc-theme-primary: #D50032;
}

.mdc-card {
	
	// Content will be bottom-aligned if it’s smaller than the height of the card.
	// height: 350px;
	width: 350px;
	display: inline-block;
	margin: 1rem;
}

.mdc-card__media {
	background-size: cover;
	background-repeat: no-repeat;
	height: 200px
}

#card1 .mdc-card__media {
	background-image: url('https://source.unsplash.com/featured/400x200?sig=1');
}

#card2 .mdc-card__media {
	background-image: url('https://source.unsplash.com/featured/400x200?sig=2');
}

 .mdc-toolbar__row:first-child::after {
  background-image: url("images/book.jpeg");
  background-size: cover;
  background-position: center; }



